<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns ">
    <!-- la card es la que se duplica en ella se coloca el ngfor  -->
    <!-- se usan llaves cuadradas para que angular se encarge -->

    <!-- *ngFor="let heroe of heroes; let i = index" -->
    <!-- input  -->
    <!-- al habilitar el decorador input se pueden mandar argumentos del padre al hijo -->
    <!-- se usa el mismo nombre definido en el hijo entre [ ] y se asigna el valor  -->
    <!-- output -->
    <!-- se escucha el evento del hijo, se llama ala funcion del padre
    y se pasa el parametro $event que es lo que se manda de el hijo -->
    <app-heroe-tarjeta (HeroeSeleccionado)="verHeroe( $event )" [heroe]=heroe [index]=i *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>