<h1>Resultados de la busqueda: <b>{{termino}}</b></h1>
<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="row ">
    <div class="col-md-12">
        <div *ngIf="heroes.length == 0" class=" alert alert-warning" role="alert">
            <p class="animated fadeIn" style="margin: 0;">No se encontraron resultados con el termino <b>{{termino}}</b></p>
        </div>
    </div>
</div>
<div *ngIf="heroes.length >0" class="card-columns ">
    <app-heroe-tarjeta [heroe]=heroe [index]=heroe.idx *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>